
  <div class="card">
    <div class="card-content">
      <h2 class="title is-5"><%= customer.full_name %></h2>
      <div class="card-image">
        <%= image_tag(customer.image) %>
      </div>
      <div class="block">
        <%= customer.phone_number %>
      </div>
      <div class="block">
        <%= customer.email %>
      </div>
    </div>
  </div>
