// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  margin: 7px;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.section {
  background-color: white;
  box-shadow: none;
}

h1 {
  background-image: linear-gradient(180deg, lightgrey, white);
}